*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: BPG Glaho;
    font-style: normal;
    font-weight: normal;
}
body{
    overflow-x: hidden;
}
/* Signin Form */
.Signin{
    background-color: #bbcde1;
    margin: 3% 18%;
}

.signicons{
    width: 1200px;
    height: 700px;
}
.forform{
    position: fixed;
    top: 40%;
    left: 38%;

}
.signin_input{
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    background-color: #ececec;
    border: solid 1px;
    outline: none;
}
.a-miss{
    font-size: 15px;
    float: right;
    text-decoration: none;
}
.submit{
    margin: 5% auto;
    padding: 5px;
    border-radius: 10px;
    min-width: 100%;
    background-color: #2e2e2e;
    color: white;
    border: none;
    outline: none;
}

/* Header */
.header{
   min-width:100%;
}

/* First Line */

.Eu-logo{
    position: absolute;
    top: 6%;
    left: 3%;
    min-width: 25%;
    height: 15%;
}
.BDcake-icon{
    float: right;
    top:13%;
    max-width: 2%;
    margin: 1%;
}
.Bell-icon{
    float: right;
    top: 13.2%;
    max-width:2%;
    margin: 1.2%;
}
.Settings-icon{
    float:right;
    top: 13.2%;
    max-width: 2%;
    margin: 1.1%;
}
.HRlogo{
    float: right;
    top: 12%;
    max-width: 3%;
    margin: 0.3%;
}
.Profile-mail{
    float: right;
    top:13.9%;
    margin: 1.3%;
}

/* Navigation-bar-For-Mobile-And-Tablet */

.Navigation-bar{
    position: absolute;
    color: rgb(11, 13, 83);
    font-size: 25px;
    background-color: white;
    display: block;
    top:11%;
    left:1%;
    cursor: pointer;
    display: none;
}
.Navigate {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b8b3b3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.Navigate .a-title{
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight:bold;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
.Navigate .list{
    list-style: none;
}
  
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.out{
    color:#6f7171;
    padding: 10px;
    border: none;
    
}
.out:hover{
    color:white;
}

.nav-list{
    list-style: none;
}
.nvicon{
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding:3px;
    top: 48%;
    margin-left: 10px;
    transform: rotate(45deg);
}

/* Second Line */
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    background-color: white;
}
.for-list2-ull{
    margin-top: -40px;
}
.Second-line{
    border: none;
    border-bottom: solid 1px;
    height: 60px;
    margin: auto 5%;
    margin-top: 8%;
    display: flex;
    list-style: none;
}
.Third-line{
    border: none;
    border-bottom: solid 1px;
    height: 60px;
    margin: auto 5%;
    margin-top: 4%;
    display: flex;
    list-style: none;
}
.list,.list2{
    border: none;
    min-width: 10%;
    max-height: 20px;
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-around;
}

.a-title,.a-title2{
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center; 

}

.a-title2{
    max-width: 20px;
    text-align:center;
    justify-content: space-around
}


.down{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding:3px;
    position: absolute;
    top: 40%;
    margin-left: 0.2%;
    transform: rotate(45deg);
}

/* Navbarhover */
button{
    background-color: transparent;
    color: black;         
    font-size: 16px;
    border: solid 0px;;
    height: 40px;
    cursor: pointer;
    outline: none;
}
.list:hover,.list2:hover{
    background-color:#c8e5ff;
    border: solid 1px ;
    width: fit-content;
    border-radius: 15px;
    height: 20px;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 7%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content2 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 16%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content3 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 25%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content4 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 34%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content5 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 42%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content6 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 50%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content7 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 58%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content8 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 67%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content9 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 76%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content3 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content4 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content5 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content6 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content7 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content8 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content9 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content2 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content3 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content4 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content5 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content6 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content7 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content8 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content9 .a-title:hover{
    background-color: #cae4fa;
}


.dropdown .a-title:hover {background-color: #ddd;}
.dropdown2 .a-title:hover {background-color: #ddd;}
.dropdown3 .a-title:hover {background-color: #ddd;}
.dropdown4 .a-title:hover {background-color: #ddd;}
.dropdown5 .a-title:hover {background-color: #ddd;}
.dropdown6 .a-title:hover {background-color: #ddd;}
.dropdown7 .a-title:hover {background-color: #ddd;}
.dropdown8 .a-title:hover {background-color: #ddd;}
.dropdown9 .a-title:hover {background-color: #ddd;}
  
.show,.show2,.show3,.show4,.show5,.show6,.show7,.show8,.show9 {display: block;}

/* Main Container */
.addinfmain{
    position: absolute;
    min-width: 100%;
}
main{
    max-height: 300px;
}
.container1,.container2,.container3{
    border: none;
    margin: 5% auto;
    max-width: 80%;
    min-height: 240px;
    display: flex;
    justify-content: space-between;
}
.For-text{
    border: none;
    min-width: 28%;
    min-height: 200px;
}
.For-text-2{
    border: none;
    min-width: 50%;
    padding: 10px;
    min-height: 200px;
}

.inbox1,.inbox2,.inbox3{
    border: solid 1px;
    border-radius: 10px;
    min-width: 28%;
    height: 200px;
}
.inbox4,.inbox5{
    border: solid 1px;
    border-radius: 10px;
    min-width: 100%;
    height: 200px;
}
.inbox6{
    border:solid 1px;
    border-radius: 10px;
    margin: auto;
    min-width: 80%;
    min-height: 230px;
}
.text1,.text2,.text3,.text4,.text5{
    max-width: 80%;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.text1{
    position: relative;
    margin-left: 8%;
}
.text2{
    position: relative;
    margin-left: 12%;
}
.text3{
    position: relative;
    padding-left: 8%;
}
.text4{
    position: relative;
    margin-left: 6%;
}
.text5{
    position: relative;
    max-width: 80%;
    margin-left: 12%;
}

/* Main Personal - Table */

.forflex{
    display: flex;
}
.ADDborder{
    border-radius: 10px;
    background-color: black;
    min-width: 120px;
    height: 30px;
    position: absolute;
    top: 40%;
    left: 7%;
}
.excel{
    position: absolute;
    top: 39%;
    left: 17%;
}

.ADD{
    text-decoration: none;
    color: white;
    padding-left: 20%;
}

/* Main Personal - Add information */
.bigtitle{
    text-align: center;
    margin-top: 2%;
}
.Container{
    border: solid 1px;
    border-radius: 10px;
    max-width: 70%;
    max-height: 600px;
    margin: auto;
    display: flex;
    z-index: 10;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
.Persinf{
    padding: 10px;
    max-width: 150px;
}
.Persinf1{
    padding: 10px;
    position: relative;
    line-height:20px;
}

.container-left{
    width: 70%;
    margin: 5% auto auto 5%;
}
.container-right{
    margin: 2% auto auto 5%;
    width: 70%;
}

.inputs{
    border: none;
    border-bottom: solid 1px;
    min-width: 200px;
    outline: none;
    padding: 4px;
    float: right;
    margin: -7.5% 20%;

}
select{
    border: none;
    border-bottom: solid 1px;
    min-width: 200px;
    outline: none;
    padding: 4px;
    float: right;
    margin: -7% 20%;
}
.infsubmit{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.forsubmit{
    justify-content: center;
    align-items: center;
    display: flex;
}

.inprad{
    margin: 0% 0% 0% 30%;
}


/* Footer */
.footer{
    margin-top: 700px;
    min-width: 100%;

}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgrey; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f345d; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #63aff7; 
}

@media only screen and (max-width:564px){
    .Navigation-bar{
        display: block;
        top: 1%;
    }
    .Eu-logo{
        top: 2%;
        left: 10%;
        min-width: 30%;
    }
    .BDcake-icon,.Bell-icon,.Settings-icon,.HRlogo{
        margin-top: 3%;
        margin-left: 5%;
        min-width: 4%;  
    }
    .Profile-mail{
        display: none
    }
    .sticky{
        display: none;
    }
    .header,.footer{
        display: none;
    }
    .container1,.container2,.container3{
        flex-direction: column;
    }
    .For-text{
        margin: 30% 10% -2% 20%;
        min-width: 80%;
    }
    .inbox1,.inbox2,.inbox3{
        margin: auto;
        min-width: 150%;
    }
    .text1,.text2,.text3{
        left: 20%;
    }
}

@media only screen and (max-width:1024px) and (min-width: 564px){
    .Navigation-bar{
        display: block;
        top: 1%;
    }
    .Eu-logo{
        top: 1%;
        left: 6%;
        min-width: 30%;
    }
    .BDcake-icon,.Bell-icon,.Settings-icon,.HRlogo{
        margin-top: 3%;
        margin-left: 5%;
        min-width: 4%;  
    }
    .Profile-mail{
        display: none
    }
    .sticky{
        display: none;
    }
    .header,.footer{
        display: none;
    }
    .container1,.container2,.container3{
        flex-direction: column;
    }
    .For-text{
        margin: 30% 10% -2% 20%;
        min-width: 80%;
    }
    .inbox1,.inbox2,.inbox3{
        margin: auto;
        min-width: 150%;
    }
    .text1,.text2,.text3{
        left: 20%;
    }
}
