*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: BPG Glaho;
    font-style: normal;
    font-weight: normal;
}
body{
    overflow-x: hidden;
}
                                                    /* Signin Form */
.Signin{
    background-color: #bbcde1;
}

.Bigcont{
    border: none;
    max-width:50%;
    margin: auto;
    min-height: 600px;
    background-image: url(images/Signicons.png);
    background-repeat: no-repeat;
    background-size: 105%;
}

.forform{
    position: fixed;
    top: 30%;
    left: 38%;
}
.signin_input{
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    background-color: #ececec;
    border: solid 1px;
    outline: none;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
.signin_input:hover{
    background-color:#ffffff;
    transition: 1s;
}
.a-miss{
    font-size: 15px;
    float: right;
    text-decoration: none;
}
.submit{
    margin: 5% auto;
    padding: 5px;
    border-radius: 10px;
    min-width: 100%;
    background-color: #2e2e2e;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.submit:hover{
    background-color: #1a297b;
    transition: 1s;
}
.Signformlogo{
    position: relative;
    width: 35%;
    top: -70%;
    left: 30%;
    display: flex;
    z-index: 1000;
}

                                                /* Header */
.header{
   min-width: 100%;
}

                                                /* Second line HR logo DropDown */
.action{
    float: right;
    margin-right: 5%;
    margin-left: 2%;
}
.action .profile{ 
    position: relative;
    margin-top: 10px;
    width:50px;
    height:50px;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
}
.action .profile img{
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.action .menu{
    position: absolute;
    margin-top: 1%;
    right: 60px;
    padding:10px 20px;
    background: #e6f3ff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius:15px;
    transition:0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    
}
.action .menu.active {
    visibility: visible;
    opacity: 1;
    
}
.action .menu::before{
    content: ' ';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #e6f3ff;
    transform: rotate(45deg);
    
}
.action .menu h3{
    width:100%;
    text-align: center;
    font-size:18px;
    padding: 20px 0;
    font-weight: 500;
    color: black;
    line-height: 1.2em;
}
.action .menu h3 span{
    font-size: 14px;
    color: black;
    font-weight: 400;
}
.action .menu ul li{
   list-style: none;
   padding: 10px 0;
   border-top: 1px solid rgba(0,0,0,0.05);
   display: flex;
   align-items: center;
    
}
.action .menu ul li img{
    max-width: 20px;
    margin-left: 10px;
    opacity: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a{
    color: #0f0097;
}
.F-Mob{
    display: none;
}


                                             /* First Line */
.Firstline{
    border: none;
    height: 1px;
}
.Eu-logo{
    position: absolute;
    top: 6%;
    left: 3%;
    min-width: 25%;
    height: 15%;
}
.BDcake-icon{
    float: right;
    top:13%;
    max-width: 2%;
    margin: 1%;
}
.Bell-icon{
    float: right;
    top: 13.2%;
    max-width:2%;
    margin: 1.2%;
}
.Settings-icon{
    float:right;
    top: 13.2%;
    max-width: 2%;
    margin: 1.1%;
}
.HRlogo{
    float: right;
    top: 12%;
    max-width: 3%;
    margin: 0.3%;
}
.messages-icon{
    float: right;
    max-width:2.6%;
    margin: 1.2%;
}
.Profile-mail{
    float: right;
    top:13.9%;
    margin: 1.3%;
}

                                     /* Navigation-bar-For-Mobile-And-Tablet */


.accordion{
    list-style-type: none
}

.cont1{
    margin-top: -30px;
}
.accordion {
    width: 100%;
    margin: 30px auto 20px;
    background: #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease
}
.accordion .link:hover{
    color: #373b74;
}
.accordion li:last-child .link {
    border-bottom: 0
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #373b74;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px
}

.accordion li.open .link {
    color: #373b74
}

.accordion li.open i {
    color: #373b74
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.submenu {
    display: none;
    width: 100%;
    background: #373b74;
    font-size: 14px
}

.submenu li {
    border-bottom: 1px solid #4b4a5e
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease
}

.submenu a:hover {
    background: #1c2764;
    color: #FFF
}

.Navigation-bar{
    position: absolute;
    color: rgb(11, 13, 83);
    font-size: 25px;
    background-color: white;
    display: block;
    top:11%;
    left: 1%;
    cursor: pointer;
    display: none;
}
.Navigate {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cccccc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.Navigate .a-title{
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight:bold;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
.Navigate .list{
    list-style: none;
}
  
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 0px;
    cursor: pointer;
}
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.out{
    color:#6f7171;
    border: none;
    
}
.out:hover{
    color:white;
}

.nav-list{
    list-style: none;
}
.nvicon{
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding:3px;
    top: 48%;
    margin-left: 10px;
    transform: rotate(45deg);
}

                                                 /* Second Line */
div.sticky {
    position: relative;
    top: 10%;

}
.for-list2-ull{
    margin-top: -40px;
}
.Second-line{
    border: none;
    border-bottom: solid 1px;
    height: 60px;
    margin: auto 5%;
    margin-top: 8%;
    display: flex;
    list-style: none;
}
.Third-line{
    border: none;
    border-bottom: solid 1px;
    height: 60px;
    margin: auto 5%;
    margin-top: 4%;
    display: flex;
    list-style: none;
}
.list,.list2{
    border: none;
    min-width: 11%;
    max-height: 20px;
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-around;
}

.a-title,.a-title2{
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center; 

}

.a-title2{
    max-width: 20px;
    text-align:center;
    justify-content: space-around
}


.down{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding:3px;
    position: absolute;
    top: 40%;
    margin-left: 0.2%;
    transform: rotate(45deg);
}

                                                  /* Navbarhover */
button{
    background-color: transparent;
    color: black;         
    font-size: 16px;
    border: solid 0px;;
    height: 40px;
    cursor: pointer;
    outline: none;
}
.list:hover,.list2:hover{
    background-color:#c8e5ff;
    border: solid 1px ;
    width: fit-content;
    border-radius: 15px;
    height: 20px;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 7%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content2 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 16%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content3 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 27%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content4 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 36%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content5 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 46%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content6 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 56%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content7 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 66%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content8 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 76%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content9 {
    display: none;
    background-color: #e6f3ff;
    border-radius: 10px;
    position:absolute;
    top: 84%;
    left: 83%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content3 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content4 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content5 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content6 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content7 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content8 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content9 .a-title{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content2 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content3 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content4 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content5 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content6 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content7 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content8 .a-title:hover{
    background-color: #cae4fa;
}
.dropdown-content9 .a-title:hover{
    background-color: #cae4fa;
}


.dropdown .a-title:hover {background-color: #ddd;}
.dropdown2 .a-title:hover {background-color: #ddd;}
.dropdown3 .a-title:hover {background-color: #ddd;}
.dropdown4 .a-title:hover {background-color: #ddd;}
.dropdown5 .a-title:hover {background-color: #ddd;}
.dropdown6 .a-title:hover {background-color: #ddd;}
.dropdown7 .a-title:hover {background-color: #ddd;}
.dropdown8 .a-title:hover {background-color: #ddd;}
.dropdown9 .a-title:hover {background-color: #ddd;}
  
.show,.show2,.show3,.show4,.show5,.show6,.show7,.show8,.show9 {display: block;}



                                                /* Main Container */
.First-page-main{
    max-height: 100px;
}
.addinfmain{
    position: absolute;
    min-width: 100%;
}
.background-image-for-personal-main{
    position: absolute;
    z-index: -100;
    width: 120%;
    height: 1300px;
    right: -100px;
    top: 150px;
}
.background-image-for-position-main{
    position: absolute;
    z-index: -100;
    width: 150%;
    height: 2200px;
    right: -250px;
    top: 150px;
}
.background-image{
    position: absolute;
    z-index: -100;
    width: 120%;
    height: 980px;
    right: -100px;
    top: -250px;
}
.container1,.container2{
    border: none;
    margin: 5% auto;
    max-width: 80%;
    min-height: 240px;
    display: flex;
    justify-content: space-between;
}
.For-text{
    border: none;
    min-width: 28%;
    min-height: 200px;
}
.For-text-2{
    border: none;
    max-width: 28%;
    min-height: 200px;
}
.For-text-3{
    border: none;
    width: 32%;
    min-height: 200px;
}

.inbox1,.inbox2,.inbox3{
    border: solid 1px;
    border-radius: 10px;
    min-width: 28%;
    height: 200px;
}
.inbox4,.inbox5,.inbox6{
    border: solid 1px;
    border-radius: 10px;
    min-width: 28%;
    height: 200px;
}

.text1,.text2,.text3,.text4,.text5{
    max-width: 80%;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.text1{
    position: relative;
    margin-left: 8%;
}
.text2{
    position: relative;
    margin-left: 12%;
}
.text3{
    position: relative;
    padding-left: 8%;
}
.text4{
    position: relative;
    margin-left: 6%;
}
.text5{
    position: relative;
    max-width: 80%;
    margin-left: 12%;
}

                                                    /* Main Personal - Table */
td{
    text-align: center;
}
.forflex{
    display: flex;
}
.ADDborder{
    border-radius: 10px;
    background-color: black;
    min-width: 120px;
    height: 30px;
    position: relative;
    top: 40%;
    left: 7%;
}
.excel{
    position: relative;
    top: 0%;
    left: 400%;
}

.ADD{
    text-decoration: none;
    color: white;
    padding-left: 20%;
}
.Table-box{
    border: solid 1px;
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

                                                    /* Main Personal - Add information */
.bigtitle{
    text-align: center;
    margin-top: 2%;
}
.Container{
    border: solid 1px;
    border-radius: 10px;
    max-width: 70%;
    max-height: 600px;
    margin: auto;
    display: flex;
    z-index: 10;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.Persinf{
    padding: 10px;
    max-width: 150px;
}
.Persinf1{
    padding: 10px;
    position: relative;
    line-height:20px;
}

.container-left{
    width: 40%;
    margin: 0% auto auto 10%;
}
.container-right{
    margin: 2% auto auto 5%;
    width: 45%;
}

.inputs{
    border: none;
    border-bottom: solid 1px;
    min-width: 175px;
    outline: none;
    padding: 4px;
    float: right;
    margin: -7.5% 25%;
}
.inputs1{
    border: none;
    border-bottom: solid 1px;
    width: 70%;
    outline: none;
    padding: 4px;
    float: right;
    margin: -5% 15%;
}
.select1{
    border: none;
    border-bottom: solid 1px;
    min-width: 175px;
    outline: none;
    padding: 4px;
    float: right;
    margin: -9% 25%;
}
.infsubmit{
    height: 30px;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.forsubmit{
    justify-content: center;
    align-items: center;
    display: flex;
}

.inprad{
    margin: 0% 0% 0% 30%;
}
                                            /* Main container - Poisition Panel */
.Position-main{
    min-width:100%;
    
}
.positionbox1,.positionbox2,.positionbox3{
    border: solid 1px;
    border-radius: 10px;
    max-width: 70%;
    max-height: 600px;
    margin: 20px auto;
    z-index: 10;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}           
.positionbox2{
    display:flex;
}
.boxin{
    margin: 30px;
}
.boxin2{
    width: 50%;
    margin: 30px;
}
.boxin3{
    width: 50%;
    margin: 30px;
}
.boxin4{
    width: 50%;
    margin: auto;
}
.select2{
    float: right;
    width: 70%;
    margin-right: 13%;
    margin-top: -5%;
    padding: 5px;;
}
.inprad2{
    margin: auto;
    position: absolute;
    margin-left: 11%;
    margin-top: -30px;
}

.position-checkbox{
    float: right;
    margin-right: 52%;
    margin-top: -5%;
}
                                            /* Main container - Education panel */
.Educ-ul{
    display: flex;
    list-style: none;
    margin: auto;
    width: 70%;
    justify-content: center;
}
.Educ-li{
    margin: 30px;
    font-weight: bold;
}

.Education-add-box{
    border: solid 1px;
    border-radius: 10px;
    max-width: 70%;
    height: 400px;
    margin: auto;
    background-color: white;
}
.schedule-icon{
    width: 40px;
    margin-left: 150px;
}

                                            /* Main Cointainer - Work Experience panel  */
                                    
.inps{
    border: none;
    border-bottom: solid 1px;
    float: right;
    width: 70%;
    margin-right: 15%;
    margin-top: -3%;
    padding: 5px;
    outline: none;
}
                                                      /* Footer */
.footer{
    margin-top: 720px;
    min-width: 100%;

}

                                                    /* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
  

  ::-webkit-scrollbar-track {
    background: lightgrey; 
}
   

  ::-webkit-scrollbar-thumb {
    background: #2f345d; 
}

  ::-webkit-scrollbar-thumb:hover {
    background: #63aff7; 
}
                                                     /*  Resoponsive Design */
@media only screen and (max-width:763px){
    .Bigcont{
        max-width: 100%;
        min-height: 540px;
        background-size: 120% 110%;

    }
    .forform{
        margin: auto -25%;
        
    }
    .submit{
        min-width: 100%;
    }
    .signin_input{
        padding: 10px;
        border-radius: 10px;
        min-width: 100%;
        background-color: #ececec;
        border: solid 1px;
        outline: none;
        box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .Signformlogo{
        width: 35%;
    }
    .a-miss{
        max-width: 20px;
        margin-right: 65px;
        font-size:12px;

    }
    .Navigation-bar{
        display: block;
        top: 1%;
    }
    .Eu-logo{
        position: absolute;
        top: -1%;
        left: 4%;
        width: 70%;
        height: 90px;
    }
    .BDcake-icon,.Bell-icon,.Settings-icon,.messages-icon{
        display: none; 
    }
    .Profile-mail{
        display: none
    }
    .sticky,.background-image-for-personal-main,.background-image{
        display: none;
    }
    .header,.footer{
        display: none;
    }
    .action .menu{
        right: 2%;
        top:16%;
    }
    .F-Mob{
        display: block;
    }
    .Firstline{
        border: none;
        height:70px;
    }
    .container1,.container2{
        flex-direction: column;
    }
    .For-text{
        margin: 5%;
        max-width: 60%;
    }
    .For-text-2,.For-text-3{
        margin: 5% auto;
        min-width: 100%;
    }
    .inbox1,.inbox2,.inbox3{
        margin: auto;
        min-width: 150%;
    }
    .text1,.text2,.text3{
        left: 20%;
    }
    .bigtitle{
        position: absolute;
        margin-top: 100px;
    }
    .ADDborder,.excel{
        margin-top: 150px;
    }
    .excel{
        margin-left: -30px;
    }
    .Third-line{
        display: none;
    }
    .Container{
        flex-direction: column;
        min-height: 100%;;
        margin-top: 150px;
    }
    .select1,.select2,.inputs{
        position: absolute;
        width: 120px;
        margin-top: -35px;
    }
}

@media only screen and (max-width:1024px) and (min-width: 768px){
    .Bigcont{
        max-width: 70%;
        min-height: 530px;
        background-size: 120% 110%;

    }
    .submit{
        min-width: 100%;
    }
    .signin_input{
        padding: 10px;
        border-radius: 10px;
        min-width: 100%;
        background-color: #ececec;
        border: solid 1px;
        outline: none;
        box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .Signformlogo{
        width: 35%;
    }
    .a-miss{
        max-width: 20px;
        margin-right: 65px;
        font-size:12px;

    }
    .Navigation-bar{
        display: block;
        top: 1%;
    }
    .Eu-logo{
        top: -1.5%;
        left: 6%;
        min-width: 30%;
    }
    .BDcake-icon,.Bell-icon,.Settings-icon,.messages-icon{
        margin-top: 2.5%;
        margin-left: 5%;
        min-width: 4%;
    }
    .action .menu{
        right: 3.5%;
        top:10%;
    }
    .Profile-mail{
        display: none
    }
    .sticky{
        display: none;
    }
    .header,.footer{
        display: none;
    }
    .Firstline{
        border: none;
        height: 100px;
    }
    .container1,.container2{
        flex-direction: column;
    }
    .For-text{
        margin-top: 100px;
        margin: 5% auto;
        min-width: 80%;
    }
    .For-text-2,.For-text-3{
        margin: 5% auto;
        min-width: 80%;
    }
}
