*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: BPG Glaho;
    font-style: normal;
    font-weight: normal;
}
body{
    overflow-x: hidden;
}
/* Header */
.Vector{
   min-width:100%;
}

/* First Line */

.Eu-logo{
    position: absolute;
    top: 10%;
    left: 3%;
    max-width: 18%;
}
.BDcake-icon{
    float: right;
    top:13%;
    max-width: 2%;
    margin: 1%;
}
.Bell-icon{
    float: right;
    top: 13.2%;
    max-width:2%;
    margin: 1.2%;
}
.Settings-icon{
    float:right;
    top: 13.2%;
    max-width: 2%;
    margin: 1.1%;
}
.HRlogo{
    float: right;
    top: 12%;
    max-width: 3%;
    margin: 0.3%;
}
.Profile-mail{
    float: right;
    top:13.9%;
    margin: 1.3%;
}

/* Navigation-bar-For-Mobile-And-Tablet */

.Navigation-bar{
    position: absolute;
    color: rgb(11, 13, 83);
    font-size: 25px;
    background-color: white;
    display: block;
    top:11%;
    left:1%;
    cursor: pointer;
    display: none;
}
.Navigate {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b8b3b3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.Navigate a{
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight:bold;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
.Navigate li{
    list-style: none;
}
  
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.out{
    color:#6f7171;
    padding: 10px;
    border: none;
    
}
.out:hover{
    color:white;
}

/* Second Line */
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
ul{
    border-bottom: solid 1px;
    display: flex;
    list-style: none;
    margin: 5% 10%;
}
li{
    position: relative;
    margin: 15px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
li:hover{
    border: solid 1px black;
    min-width: 11%;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(84, 240, 84, 0.329);

}

i{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding:3px;
    position: absolute;
    top: 40%;
    margin-left: 5px;
}
.down{
    transform: rotate(45deg);
}
/* Navbarhover */
.dropbtn {
    background-color: #fff;
    color: black;         
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #c7fac7;
}

.dropbtn:focus{
      background-color: transparent;
}
  
.dropdown-content {
    display: none;
    background-color: #d4ebd5;
    position:absolute;
    top: 70%;
    left: 10%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

/* Main Container */
main{
    max-height: 400px;;
}
.container1,.container2,.container3{
    border: none;
    margin: auto;
    max-width: 80%;
    min-height: 240px;
    display: flex;
    justify-content: space-between;
}
.For-text{
    border: none;
    min-width: 28%;
    min-height: 200px;
}
.For-text-2{
    border: none;
    min-width: 50%;
    padding: 10px;
    min-height: 200px;
}

.inbox1,.inbox2,.inbox3{
    border: solid 1px;
    border-radius: 10px;
    min-width: 28%;
    height: 200px;
}
.inbox4,.inbox5{
    border: solid 1px;
    border-radius: 10px;
    min-width: 100%;
    height: 200px;
}
.inbox6{
    border:solid 1px;
    border-radius: 10px;
    margin: auto;
    min-width: 80%;
    min-height: 230px;
}
.text1,.text2,.text3,.text4,.text5{
    max-width: 80%;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.text1{
    position: relative;
    margin-left: 8%;
}
.text2{
    position: relative;
    margin-left: 12%;
}
.text3{
    position: relative;
    padding-left: 8%;
}
.text4{
    position: relative;
    margin-left: 6%;
}
.text5{
    position: relative;
    max-width: 80%;
    margin-left: 12%;
}

/* Footer */
.Vector2{
    bottom: 0;
    margin-top: 450px;
    min-width: 100%;

}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgrey; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f345d; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #63aff7; 
}

@media only screen and (max-width:564px){
    .Navigation-bar{
        display: block;
        top: 1%;
    }
    .Eu-logo{
        top: 2%;
        left: 10%;
        min-width: 30%;
    }
    .BDcake-icon,.Bell-icon,.Settings-icon,.HRlogo{
        margin-top: 3%;
        margin-left: 5%;
        min-width: 4%;  
    }
    .Profile-mail{
        display: none
    }
    .sticky{
        display: none;
    }
    .Vector,.Vector2{
        display: none;
    }
    .container1,.container2,.container3{
        flex-direction: column;
    }
    .For-text{
        margin: 30% 10% -2% 20%;
        min-width: 80%;
    }
    .inbox1,.inbox2,.inbox3{
        margin: auto;
        min-width: 150%;
    }
    .text1,.text2,.text3{
        left: 20%;
    }
}

@media only screen and (max-width:1024px) and (min-width: 564px){
    .Navigation-bar{
        display: block;
        top: 1%;
    }
    .Eu-logo{
        top: 1%;
        left: 6%;
        min-width: 30%;
    }
    .BDcake-icon,.Bell-icon,.Settings-icon,.HRlogo{
        margin-top: 3%;
        margin-left: 5%;
        min-width: 4%;  
    }
    .Profile-mail{
        display: none
    }
    .sticky{
        display: none;
    }
    .Vector,.Vector2{
        display: none;
    }
    .container1,.container2,.container3{
        flex-direction: column;
    }
    .For-text{
        margin: 30% 10% -2% 20%;
        min-width: 80%;
    }
    .inbox1,.inbox2,.inbox3{
        margin: auto;
        min-width: 150%;
    }
    .text1,.text2,.text3{
        left: 20%;
    }
}
